<h1>Ember Disqus</h1>

{{outlet}}

<h2>Navigation for test suite</h2>

<ul>
  <li>{{#link-to 'index'}}Home{{/link-to}}</li>
  <li>{{#link-to 'bacon'}}Bacon{{/link-to}}</li>
  <li>{{#link-to 'eggs'}}Eggs{{/link-to}}</li>
  <li>{{#link-to 'toast'}}Toast{{/link-to}}</li>
</ul>
