<h2>Bacon</h2>

{{disqus-comment-count identifier='bacon' data-test='bacon-comment-count'}}

<hr>

<strong class="warning">Don't add comments - this affects the test suite</strong>

{{disqus-comments identifier='bacon' data-test='bacon-comments'}}


